@charset "utf-8";
/* CSS Document */

body {
	padding: 0;
	}
header{
	padding-bottom: 1rem;
	background-color: rgb(0, 133, 63);
}
.anim__logo{
	margin-left: 2.7rem;
	margin-top: .5rem;
	max-width: 30%;
	animation: logo-anim 10s ease 0s forwards;
	
}
@keyframes logo-anim {
	0%{
		opacity: 0;
		transform: rotate(70deg);
	}
	10% {
		opacity: 0;
	}
	15% {
		opacity: 1;
		transform: rotate(0deg);
	}
	100% {
		opacity: 1;
	}
}

p{
	margin: 0 0 .5rem 0;
	}
.anim{
	background: #ddd;
	width: 100%;
	height: 300px;
	border: solid #000 2px;
	float: left;
	margin: 0 1rem 1rem 0;
	overflow: hidden;
}


.anim__headline{
	color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	font-weight: bold;
	position: relative;
	top: -30px;
	left: 50px;
	opacity: 0;
	animation: h1-anim 15s ease 0s forwards;
}

.anim__h2{
	color: rgb(0, 133, 63);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	position: relative;
	text-align: center;
	top: -30px;
	left: 50px;
	opacity: 0;
	animation: h2-anim 20s ease 0s forwards;
}

@keyframes h2-anim {
	0%{
		top: 30px;
		opacity: 0;
	}
	10% {
		top: 30px;
		opacity: 0;
	}
	15% {
		top: 0px;
		opacity: 1;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}

@keyframes h1-anim {
	0%{
		top: -30px;
		opacity: 0;
	}
	10% {
		top: -30px;
		opacity: 0;
	}
	15% {
		top: 0px;
		opacity: 1;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}

.anim__roomba1 {
	position: relative;
	top: 100px;
	left: -300px;
	animation: roomba1-anim 10s linear forwards;
}

@keyframes roomba1-anim {
	0% {
		top: 100%;
		left: -300px;
	}
	15% {
		top: 100%;
		left: -300px;
		transform: rotate(0deg);
	}
	40% {
		top: 0px;
		left: 300px;
	}
	50% {
		top: -20px;
		left: 40%;
		transform: rotate(-50deg);
	}
	60% {
		top: 24px;
		left: 50%;
		transform: rotate(-50deg);
	}
	80% {
		top: -6px;
	}
	100% {
		top: 100px;
		left: 100%;
		transform: rotate(70deg);
	}
}